* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 1.8em Helvetica, Arial;
}

form {
  background: blueviolet;
  padding: 3px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

form input {
  border: 0;
  padding: 10px;
  width: 89%; /* 90% is too much */
  margin-right: .5%;
}

form #button {
  color: rgba(12, 4, 4, 0.863);
  background: rgb(11, 159, 73);
  border: none;
  padding: 10px;
  width: 9%;
}

#messages {
  list-style-type:none;
  margin: 0;
  padding: 0;
}

#messages li {
  padding: 15px 20px;
}

#messages li:nth-child(odd) {
  background:rgb(226, 43, 186);
}

#notifyUser {
  position: fixed;
  bottom: 42px;
  width: 100%;
}

/* Reference: http://javabeginnerstutorial.com/javascript-2/create-simple-chat-application-using-node-js-express-js-socket-io/ */